*{
    padding: 0;
    margin: 0;
    
}

.small-box{
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 10px;

}
body{
    text-align: center;
}

#gui{
    position: fixed;

    display: flex;
    flex-direction: row;

    left: 50%;
    bottom: 50px;
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 4rem;
    transform: translateX(-50%);
    
}

.color {
    padding: 10px;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

input{

    text-size-adjust: 4rem;
}